.btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  border-radius: 8px;
  padding: 10px 15px;
  background-color: inherit;
}
/* .dark_outline {
  color: var(--grey1);
  border: 1px solid var(--grey1);
}
.dark_outline :hover {
  color: var(--secondary-light-color);
  border: 1px solid var(--secondary-light-color);
}
.light_outline {
  color: var(--grey2);
  border: 1px solid var(--grey2);
}
.light_outline:hover {
  color: var(--secondary-dark-color);
  border: 1px solid var(--secondary-dark-color);
}
.dark_fill {
  background-color: var(--secondary-dark-color);
  color: var(--secondary-light-color);
  border: none;
  outline: none;
}
.dark_fill:hover {
  background-color: var(--secondary-light-color);
  color: var(--secondary-dark-color);
}
.ligth_fill {
  background-color: var(--secondary-light-color);
  color: var(--secondary-dark-color);
  border: none;
  outline: none;
}
.fill_ligth:hover {
  background-color: var(--secondary-dark-color);
  color: var(--secondary-light-color); */
/* } */
.like {
  background: no-repeat url('./img/like.svg');
  border: none;
  width: 50px;
  height: 50px;
  position: absolute;
  right: 10px;
  top: 10px;
}
.dislike {
  background: no-repeat url('./img/dislike.svg');
  border: none;
  width: 50px;
  height: 50px;
  position: absolute;
  right: 10px;
  top: 10px;
}
.search {
  background: no-repeat url('./img/search.svg') center;
  border: none;
  width: 40px;
  height: 40px;
  position: absolute;
  right: 5px;
}
.light {
  background: no-repeat url('./img/dark.svg') center;
  border: none;
  width: 40px;
  height: 40px;
}
.dark {
  background: no-repeat url('./img/ligth.svg') center;
  border: none;
  width: 40px;
  height: 40px;
}
.logout {
  color: var(--grey1);
  border: none;
}
.logout:hover {
  color: var(--primary-light-color);
}
.outline {
  font-size: 14px;
  color: var(--grey1);
  border: 1px solid var(--grey2);
}
.outline:hover {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}
.login {
  background-color: var(--secondary-light-color);
  color: var(--secondary-dark-color);
  border: 1px solid var(--secondary-dark-color);
  width: 100%;
}
.login:hover {
  background-color: var(--secondary-dark-color);
  color: var(--secondary-light-color);
}

.btn:active {
  background-color: var(--accent-color);
}
.dislike:active,
.like:active {
  background-color: inherit;
}
