.title {
  text-align: center;
  font-size: 34px;
  font-weight: 700;
  color: var(--secondary-dark-color);
  letter-spacing: 4px;
  text-transform: uppercase;
}
.title_dark {
  color: var(--secondary-light-color);
}
