.wrapper {
  display: flex;
  gap: 20px;
  margin: 20px 0;
}
@media (max-width: 880px) {
  .wrapper {
    flex-direction: column;
  }
}

.content {
  color: var(--secondary-dark-color);
  letter-spacing: 1px;
}
.content_dark {
  color: var(--grey1);
}

.bold {
  font-size: 20px;
  font-weight: 600;
  padding-right: 10px;
  letter-spacing: 2px;
}
.img {
  min-width: 300px;
  max-width: 450px;
  position: relative;
  align-self: center;
}
